/* nav css */
.nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all linear 0.3s;
    overflow: auto;
}

.nav__avt {
    width: 112px;
    border-radius: 4px;
    margin: 24px 0 0 16px;
}

.nav__head {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 32px 0 24px 16px;
}

.nav__copyright {
    font-size: 1.5rem;
    margin: 0 0 16px 16px;
    font-weight: 300;
}

.nav__bars {
    margin-bottom: 16px;
}

.nav__link {
    width: 100%;
    padding: 12px 0 8px 16px;
}

.nav__link:hover {
    background: #ccc;
}

a.nav__link--active {
    color: var(--secondary-clr);
}

.nav__socials {
    margin-left: 16px;
}

.nav__social-link + .nav__social-link {
    margin-left: 8px;
}

.nav__social-link:hover {
    opacity: 0.6;
}

.nav__social-link > i {
    margin-right: 0;
}

/* main css */
.main {
    margin-left: 300px;
}

.main__separate {
    border: 0;
    border-top: 1px solid #fff;
    margin: 20px 0;
}

.main__head {
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 600;
    margin: 0;
    padding: 18px 0;
}

.main__filter {
    font-size: 1.5rem;
    padding: 16px 0;
    margin: 16px 0;    
    border-bottom: 6px solid #ccc;
    overflow: auto;
    white-space: nowrap;
}

.main__filter::-webkit-scrollbar {
    display: none;
}

.main__filter-item {
    border: 0;
    background: #fff;
    padding: 8px 16px;
    font-size: inherit;
    line-height: 2.2rem;
    cursor: pointer;
}

.main__filter-item + .main__filter-item {
    margin-left: 4px;
}

.main__filter-item:hover {
    background: #ccc;
    color: var(--main-clr);
}

.main__filter-item:first-of-type {
    margin-left: 16px;
}

.main__filter-item--active {
    background: var(--main-clr);
    color: #fff;
}

.main__filter-item > i {
    min-width: unset;
}

.main__post-item {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 16px;
}

.main__post-item-img {
    padding-top: 66.67%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main__post-item-img:hover {
    opacity: 0.6;
}

.main__post-item-content {
    background: #fff;
    padding: 16px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.main__post-item-head {
    margin: 0;
    font-weight: 600;
}

.main__post-item-desc {
    margin-bottom: 0;
}

.main__post-pagination {
    text-align: center;
    padding: 32px 0;
}

.main__post-pagination-link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-clr);
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 10px 16px;    
    margin: 0 -2px;
}

.main__post-pagination-link:hover,
.main__post-pagination-link--active {
    background: var(--main-clr);
    color: #fff;
}

.main__post-pagination-link--active:hover {
    background: #ccc;
    color: var(--main-clr);
}

.main__about-img {
    padding-top: 62.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 16px 0;
}

.main__about-content {
    padding: 12px 8px 0;
}

.main__about-desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 15px 0;
}

.main__about-progress {
    background: #9e9e9e;
}

.main__about-progress-show {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 8px 16px;
}

.main__download {
    margin: 16px 0;
}

.main__download-btn {
    border: 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 12px 24px;
    background: #616161;
    color: #fff;
    margin: 16px 0;
    cursor: pointer;
}

.main__download-btn:hover {
    background: #ccc;
    color: var(--main-clr);
}

.main__about-fee {
    border: 1px solid #ddd;
    margin: 16px 0;
    text-align: center;
    opacity: 0.6;
}

.main__about-fee:hover {
    opacity: 1;
}

.main__about-fee-type {
    padding: 16px 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.main__about-fee-type--bold {
    padding: 32px 0;
    font-size: 2.4rem;
    line-height: 3rem;
}

.main__about-fee-type--big {
    display: block;
    font-size: 3rem;
    line-height: 4rem;
    margin: 10px 0;
    opacity: 1;
}

.main__about-fee-type--slight {
    opacity: 0.6;
}

.main__about-fee-type--btn {
    padding: 24px 0;
    background: transparent;
}

.main__about-fee-btn {
    border: 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    background: var(--secondary-clr);
    color: #fff;
    padding: 12px 24px;
    cursor: pointer;
}

.main__about-fee-btn:hover {
    background: var(--main-clr);
}

.main__contact {
    background: #9e9e9e;
    margin-right: -16px;
    margin-left: -16px;
    padding: 28px 16px;
}

.main__contact-via {
    padding: 24px 0;
}

.main__contact-via-item {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
}

.main__contact-via-item > i {
    font-size: 3.6rem;
    margin-right: 0;
    margin-bottom: 20px;
}

.main__contact-form {
    padding: 0 8px;
}

.main__contact-input-wrapper {
    position: relative;
}

.main__contact-label {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.main__contact-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 4px 0 16px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.7);
}

.main__contact-input-name:focus ~ .main__contact-input-name-history,
.main__contact-input-mail:focus ~ .main__contact-input-mail-history,
.main__contact-input-message:focus ~ .main__contact-input-message-history {
    display: block;
    z-index: 1;
}


.main__contact-input-name-history,
.main__contact-input-mail-history,
.main__contact-input-message-history {
    background: #fff;
    min-height: 45px;
    width: 50%;
    border-radius: 5px;
    padding: 8px 0;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 1px var(--main-clr);
    display: none;
}

.main__contact-input-name-history-item,
.main__contact-input-mail-history-item,
.main__contact-input-message-history-item {
    --margin-l-r: 12px;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 500;
    padding: 8px var(--margin-l-r);
    color: var(--main-clr);
    overflow: hidden;
    white-space: nowrap;
    border-right: var(--margin-l-r) solid transparent; /* prevent text overflow into padding */
}

.main__contact-input-name-history-item:hover,
.main__contact-input-mail-history-item:hover,
.main__contact-input-message-history-item:hover {
    background: #ccc;
}

.main__contact-btn {
    border: 0;
    background: var(--main-clr);
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 8px 16px;
    cursor: pointer;
}

.main__contact-btn:hover {
    background: #ccc;
    color: var(--main-clr);
}

/* footer css */
.footer {
    margin-left: 300px;
}

.footer__category,
.footer__copyright {
    margin-left: -16px;
    margin-right: -16px;
}

.footer__category {
    padding: 32px;
}

.footer__copyright {
    text-align: center;
    padding: 8px;
}
 
.footer__head {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 12px 0;
}

.footer__text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 300;
}

.footer__text-link {
    color: #fff;    
}

.footer__blog-item + .footer__blog-item {
    border-top: 1px solid #fff; 
}

.footer__blog-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

.footer__blog-link:hover {
    background: #ccc;
}

.footer__blog-link-img {
    height: 50px;
    margin-right: 16px;
}

.footer__blog-link-head {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
    width: 100%;
    margin: 0;
}

.footer__blog-link-desc {
    margin: 0;
}

.footer__tags-link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-clr);
    font-size: 1.2rem;
    background: #9e9e9e;
    padding: 2px 6px 0;
    margin: 10px 2px;
}

.footer__tags-link--active {
    font-size: 1.5rem;
    background: var(--main-clr);
    color: #fff;
    padding: 4px 8px 2px;
}

.footer__tags-link:hover {
    opacity: 0.6;
}

/* modal css */

.modal__label,
.modal__avt {
    display: none;
}

.modal__label-nav > i {
    display: none;
}
